[submodule ".vim/pack/vendor/start/ack.vim"]
	path = .vim/pack/vendor/start/ack.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/vendor/start/vim-easymotion"]
	path = .vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/pack/vendor/start/nerdtree-git-plugin"]
	path = .vim/pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/ctrlp.vim"]
	path = .vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
