[core]
	editor = nvim
[user]
	email = niranjan.msankar@gmail.com
	name = sanka047
[merge]
    tool = nvim  #vimdiff
    conflictstyle = diff3
    prompt = false
[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[alias]
    hist = log --graph --full-history --all --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
